/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  /* Declare the base font-family - from google font api or other */
    
}

header, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

header {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;

}

header figure img {
    width: 100%;
}


    



//-------------------------nav----------------------------------

.wrapbutton {
    overflow: hidden;
}
nav button {
    float: right;
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    color:darkblue;
   
   
    
   
}

nav {
    
    
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}

nav ul { 
    background-color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
   
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: black;
    border-top:1px solid rgba(0,0,0,0.3);
    border-bottom:1px solid rgba(0,0,0,0.3);
    
}
nav ul li.active a {background-color: whitesmoke; color: black}
nav ul li a:hover {background-color: #99A6AF; color: white}

nav ul.hide {display: none;}

//----------------------------main------------------------------



.forecast {
    display: none;
}
.middle {
    margin-left: 10%;
    margin-right: 10%;
}
}
h1 {
    text-align: center;
}

h2 {
    font-size: 24px;
}

h3 {
    text-align: center;
    font-size: 20px;
}
picture {
    float: right;
}

.current {
    font-size: 20px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
   
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}
.highlow {
    font-size: 17px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}



.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-left: 2%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size: 13px;
  
  
    


}

.grid img {
    width: 96%
}

.gridcontainer img:hover {
        box-shadow: 5px 5px 10px gray;
    }
article {
    background-color: azure;
    padding-top: 0.5%;
    padding-bottom: 2%;
}

  
    



.three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-left: 2%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size: 13px;
    
}


.gridcontainer {
    position: relative;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    
    
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    
    
}



section p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 14px;
   
  
}

section ul {
  margin-top: 0;
    
    list-style-type: none;
 
    font-size: 14px;
}

main div form {
    display: inline-block;
    margin: 0;
}

.donate {
    font-size: 10px;
     text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
   
    
    
}

main figure { margin: 0 0 0 0 }
main figure img { width: 100%;}

//---------------------------------------formcss----------------------------


label {
    display: block;
    margin: 0.6em;
}

label span {
    display: block;
    color: $917a56;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}

form fieldset {
    margin-bottom:15px;background-color:#E8E8E8;
    border-radius: 0.7em;
    margin: 1.6em 0;
    border: maroon solid 1px;
}



legend { 
    color: #7d2a35;
    margin-left: 6%;
    padding: .5em;
    border: darkgray solid 1px;
    background-color: #f2eee7;
    border-radius: .5em;
}



form {
    text-align: left;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    margin: 3%;
}


input {
    display: inline-block;
    margin-left; 10px;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #585858;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #686868;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.pana-accordion {
  width: 800px;
  height: 200px;
  margin: 20px auto;
  position: relative;
  overflow: hidden
}
.pana-accordion .pana-accordion-wrap {
  margin-left: -1px;
  position: relative;
  width: 300%
}
.pana-accordion .pana-accordion-wrap .pana-accordion-item {
  border-left: 1px solid #BABABA;
  width: 100px;
  height: 200px;
  overflow: hidden;
  float: left;
  position: absolute;
  left: 0;
  top: 0
}
//--------------------------------slider-------------------------------

#contain {
	margin-left: 5%;
    margin-right: 5%;
	width: 90%;
    
}



#accordion {
	list-style:none;
	margin:30px 0;
	padding:0;
	height:auto;
	width:90%;
	margin-left: 5%;
    margin-right: 5%;
	border:2px solid #000000;
	overflow:hidden;
}
.panel {
	float:left;
	display:block;
	height:270px;
	width:44px;
	overflow:hidden;
	color:#666666;
	text-decoration:none;
	font-size:16px;
	line-height:1.5em
}
.panel.active {
	width:85%;
    height: 50%;
}

.panelContent {
	padding:15px 15px 15px 15px;
	height:60%;
	width:50%;
}


.pink {
	width:40px;
	height:280px;
	float:left;
	background:url(../images/accordionSprite.png) no-repeat 4px 85px #F2F4F4  ;
	border-right:2px solid #ffffff;
	cursor:pointer
}
.dark1 {
	background:url(../images/accordionSprite.png) no-repeat -58px 85px #E5E8E8
}
.dark2 {
	background:url(../images/accordionSprite.png) no-repeat -117px 86px #B2BABB  
}
.dark3 {
	background:url(../images/accordionSprite.png) no-repeat -184px 87px #707B7C
}
.last {
	border:none
}
.p1 {
	background:url(../images/panel1.jpg) no-repeat left top
}
.p2 {
	background:url(../images/panel1.jpg) no-repeat left top
}
.p3 {
	background:url(../images/panel1.jpg) no-repeat left top
}
.p4 {
	background:url(../images/panel1.jpg) no-repeat left top
}

.panel img {
    width: 30%;
    padding-top: 2%;
}

//---------------------------------footer---------------------------------

footer  {

    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 9px;
    text-align: center;
    
    
  
}
footer aside {
   clear: both;
   margin-top: 10%;
    
}
footer aside p {
    margin:0;
    font-size: 11px;
    background-color: #E8E8E8;
    padding: 2px;
    color: black;
   
    
 

   
} /* This structure refers to p elements that are direct children of the footer element */



footer p.footer-bar {
    font-size: 9px;
    text-align: center;
    background-color: #585858;
    color: white;
    padding: 9px;
    margin: 0;
}

//------------clearfix-----------------------------------
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
}